.my_first_repo{
    background-color: yellow;
    width: 50%;
    font-size: 40px;
}
p{
    background-color: greenyellow;
    width: 50%;
}
h3{
    background-color: greenyellow;
    width: 50%;
}
h1{
    background-color: blanchedalmond;
    width: 50%;
}